@using BodyProgress.Common

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@this.ViewData["Title"] - @GlobalConstants.SystemName</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.0/css/all.css" integrity="sha384-aOkxzJ5uQz7WBObEZcHvV5JvRW3TUc2rNPA7pe3AwnsUohiw1Vj2Rgx2KSOkF5+h" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    <link href="~/css/lazy.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/dist/jquery-ui.js" asp-append-version="true"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom shadow-lg p-3 mb-5 bg-white rounded ">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">@GlobalConstants.SystemName</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="nav navbar-nav flex-lg-grow-0" style=" margin-inline: 20px">
                        <form>
                            <input type="text" class="form-control" id="search" placeholder="Search" />
                        </form>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="dropdown nav-item">
                                <a class="dropdown-toggle nav nav-link" data-toggle="dropdown" href="#"><i class="fas fa-heartbeat"></i> Workout </a>
                                <ul class="dropdown-menu">
                                    <li><a class="nav-link text-dark" asp-area="" asp-controller="Workouts" asp-action="All"><i class="fas fa-history"></i> Your workouts</a></li>
                                    <li><a class="nav-link text-dark" asp-area="" asp-controller="Workouts" asp-action="Add"><i class="far fa-calendar-plus"></i> Add</a></li>
                                </ul>
                            </li>
                            <li class="dropdown nav-item">
                                <a class="dropdown-toggle nav nav-link" data-toggle="dropdown" href="#"><i class="fas fa-utensils"></i> Meal </a>
                                <ul class="dropdown-menu">
                                    <li><a class="nav-link text-dark" asp-area="" asp-controller="Meals" asp-action="All"><i class="fas fa-history"></i> Your meals</a></li>
                                    <li><a class="nav-link text-dark" asp-area="" asp-controller="Meals" asp-action="Add"><i class="far fa-calendar-plus"></i> Add</a></li>
                                </ul>
                            </li>
                            <li class="dropdown nav-item">
                                <a class="dropdown-toggle nav nav-link" data-toggle="dropdown" href="#"><i class="fas fa-chart-bar"></i> Body statistics</a>
                                <ul class="dropdown-menu">
                                    <li><a class="nav-link text-dark" asp-area="" asp-controller="BodyStatistics" asp-action="All"><i class="fas fa-history"></i> History</a></li>
                                    <li><a class="nav-link text-dark" asp-area="" asp-controller="BodyStatistics" asp-action="Add"><i class="far fa-calendar-plus"></i> Add body measurments</a></li>
                                </ul>
                            </li>
                            <li class="dropdown nav-item">
                                <a class="dropdown-toggle nav nav-link" data-toggle="dropdown" href="#"><i class="fas fa-users"></i> Friends</a>
                                <ul class="dropdown-menu">
                                    <li><a class="nav-link text-dark" asp-area="" asp-controller="Friends" asp-action="AllFriends"><i class="fas fa-user-friends"></i> Friends</a></li>
                                    <li><a class="nav-link text-dark" asp-area="" asp-controller="Friends" asp-action="ReceivedFriendRequests"><i class="fas fa-user-plus"></i> Requests</a></li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav nav-link" asp-area="" asp-controller="Chats" asp-action="ChatBox"><i class="far fa-comment-dots"></i></a>
                            </li>
                        }

                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container" style="background-color:transparent">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @this.RenderBody()
        </main>
    </div>
    

    <footer class="border-top footer text-muted">
        <div class="container-fluid">
            &copy; @DateTime.Now.Year - @GlobalConstants.SystemName - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/@@microsoft/signalr/dist/browser/signalr.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js" asp-append-version="true"></script>
    <script src="~/lib/popper/popper.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
    <script src="~/js/chat.js" asp-append-version="true"></script>
    <script src="~/js/lazy.js" asp-append-version="true"></script>
    
    @await this.RenderSectionAsync("Scripts", required: false)
</body>
</html>
